  body {
    display: flex;
    justify-content: center;
    background: #000;
  }
  
  .navbar li {
    float: left;
  }

  .navbar a {
    display: block;
    padding: 15px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #fff;
    color: #000;
  }

  .navbar ul {
    position: fixed;
    top: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    justify-content: center;
    align-items: center;
    font-family: 'Monospace';
    color: #fff;
    display: inline-flex;
  }

  .wrapper li {
    list-style: none;
  }

  .wrapper .static-text {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-right: 1rem;
    display:inline;
    float:left;
  }

  .wrapper .dynamic-text {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    position: relative;
    overflow: hidden;
  }

  .dynamic-text span {
    position: relative
  }

  .dynamic-text span::after{
    content: '';
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    background: #000;
    border-left: 2px solid #fff;
    animation: typing 4s steps(200) 1s both;
  }

  @keyframes typing {
    100%{
      left: 100%;
      margin: 0 -35px 0 35px
    }
    
  }