body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Proza Libre', sans-serif;
  margin: 0;
  padding: 0;
}

b{
  color:#ff5a5a;
}

.navbar {
  background-color: #000000;
  margin-bottom: 20px;
  padding-left: 50px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-left: 320px;
  transition: letter-spacing 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  letter-spacing: 1.5px;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ffffff;
}

.profile-image {
  width: 350px;
  height: auto;
  transition: transform 0.3s;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(280deg) brightness(108%) contrast(106%);
}

.description {
  width: 18ch;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
}

.description .animated-text {
  border-right: 3px solid;
  animation: blink .5s step-end infinite alternate;
}

.current {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ff5a5a;
}

.name a{
  color: #ff5a5a;
  text-decoration: none;
  transition: letter-spacing 0.3s;
}

@keyframes typing {
  from {
      width: 0
  }
}
  
@keyframes blink {
  50% {
      border-color: transparent
  }
}

@keyframes blink-caret {

  from,
  to {
      border-color: transparent;
  }

  50% {
      border-color: #ffffff;
  }
}